<div class="row" ng-if="modal.list">
	<div class="col-md-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
				<div class="row">
					<div class="col-sm-8">
						<h5>
	                        Question List
	                     </h5>
					</div>
					<div  class="col-sm-4 text-right">
						<button type="button" class="btn btn-primary" ng-click="openAddModal();">
							Add
						</button>
					</div>
				</div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S No.</th>
						<th>Question</th>
						<th>Question Is</th>
						<th>Mp3</th>
						<th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
						<tr ng-if="message" ng-click="message=false;">
                            <td colspan="8" class="text-center">
                                <span class="text-danger" ng-if="!message.success">{{message.message}}</span>
                                <span class="text-success" ng-if="message.success">{{message.message}}</span>
                            </td>
                        </tr>
                        <tr ng-if="!results">
                            <td colspan="8" class="text-center">
                                <span class="text-warning">Loading ... <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></span>
                            </td>
                        </tr>
                        <tr ng-if="results.length > 0" ng-repeat="result in results">
                            <td data-label="S No.">{{$index+1}}</td>
                            <td data-label="Question">{{result.question}}</td>
                            <td data-label="Question Is">{{result.question_is}}</td>
							<td data-label="Question Mp3">{{result.mp3}}</td>
							<td data-label="Action">
								<button type="button" ng-disabled="isBusyButton" class="btn btn-primary" ng-click="openEditModal(result._id)">
									Edit
									<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
								</button>
								<button type="button" class="btn btn-primary" ng-disabled="isBusyButton" ng-click="deleteTournament(result._id);" >
									Delete
									<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
								</button>
							</td>
                        </tr>
                        <tr ng-if="results.length <= 0">
                            <td colspan="8" class="text-center text-danger">No data found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="modal.add">
	<div class="col-md-6 col-md-offset-3 col-sm-12">
	<!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5>
					Add Question
				 </h5>
			</div>
			<div class="panel-body">
				<div class="row text-center" ng-if="message">
					<span class="text-danger" ng-if="!message.success">{{message.message}}</span>
					<span class="text-success" ng-if="message.success">{{message.message}}</span>
				</div>
				<form name="editForm">
					<div class="form-group">
						<label class="control-label">Question<small class="text-danger">*</small></label>
						<input type="text" name="name" id="name"  ng-model="formData.question" class="form-control" required />
						<div class='msg-block' ng-show='editForm.question.$error'>
							<span class='text-danger' ng-show='editForm.question.$error.required && !editForm.question.$pristine'>
								Please enter name.
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Mp3 Upload<small class="text-danger">*</small></label>
						<div class="row">
							<div class="col-sm-6">
								<input class="btn btn-primary" type="file" ng-model="formData.mp3" name="file" base-sixty-four-input>
							</div>
							<div class="col-sm-6">
								<span ng-if="formData.mp3.filename">{{formData.mp3.filename}}</span>
								<span ng-if="!formData.mp3.filename">{{formData.mp3}}</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="radio-inline">Question Is : </label>
						<label class="radio-inline"><input type="radio" name="optradio" ng-model="formData.question_is" ng-value="true">True</label>
						<label class="radio-inline"><input type="radio" name="optradio" ng-model="formData.question_is" ng-value="false">False</label>
					</div>
					<div class="form-group">
						<center>
							<button id="login" ng-if="!formData._id" class="btn btn-primary loginBtn" ng-click="addMethod(formData);" ng-disabled="editForm.$invalid || isBusyButton">
								Submit
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							<button id="login" ng-if="formData._id" class="btn btn-primary loginBtn" ng-click="updateMethod(formData);" ng-disabled="editForm.$invalid || isBusyButton">
								Update
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							<button type="button" class="btn btn-danger" ng-click="openListModal();">
								Cancel
							</a>
						</center>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
